.sidebar.sidebar-style-2 .nav.nav-primary > .nav-item.active > a {
    background: #fc6767 !important;
    box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1),4px 4px 15px -5px rgba(21,114,232,.4) !important;
  }

  .table td, .table th {
    font-size: 12px;
    border-top-width: 0;
    border-bottom: 1px solid;
    border-bottom-color: currentcolor;
    border-color: #ebedf2 !important;
    padding: 0 25px !important;
    height: 20px !important;
    vertical-align: middle !important;
  }

  .paginate_button {
    font-size: 10px !important;
  }

.btn-custom-primary:disabled, .btn-custom-primary:focus, .btn-custom-primary:hover {
  background: #4e9ff0 !important;
  border-color: #4e9ff0 !important;
}
.btn-custom-primary {
    padding: 5px 20px;
    background: #2c41f2 !important;
    border-color: #2c41f2 !important;
}

.btn-danger-custom {
  padding: 5px 20px;
}

.btn-success-custom {
  padding: 5px 20px;
}


.ui-jqgrid .ui-jqgrid-hbox {
  float: left;

  padding-right: 20px;

}
.ui-jqgrid .ui-jqgrid-hbox {
  float: left;

  padding-right: 20px;

}
*, ::after, ::before {
  box-sizing: border-box;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  font-weight: bold;

  color: #004276;

}
.ui-jqgrid .ui-jqgrid-view {
  font-size: 12px !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px !important;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px !important;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px !important;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px !important;
  }

  .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #d40000 !important;
  }
  .field-export:disabled, .field-export[readonly]{
    border: 1px solid #004276 !important;
    color: #000 !important;
}

.btn-default-custom {
  padding: 2px 5px ;
  background: #4363c3 !important;
  color: #fff !important;
}

/* Add some space between Edit and Delete options */
.popover a {
  display: block;
  padding: 2px 0 !important;
}

/* Customize the appearance of the popover */
.popover {
  max-width: 100% !important; /* Adjust width */
}

.popover-body {
  text-align: left !important;
}

.popover-body a {
  font-size: 11px !important;
}

.alert-custom-warning{
  background-color: #ffad46 !important;
  -webkit-box-shadow: 1px 1px 14px 0 rgba(255, 255, 255, 0.26) !important;
}
.alert-custom-warning .close {
  background: #ffad46 !important;
  width: 25px;
  height: 25px;
  line-height: 25px;
  top: 12px !important;
  border-radius: 50%;
}

.badge {
  padding: 3px 10px !important;
  border-radius: 3px;
}

.navbar-header[data-background-color="red2"] {
  background: #860000 !important;
}

.logo-header[data-background-color="red2"]{
  background: #860000 !important;
}

.sidebar.sidebar-style-2 .nav.nav-primary > .nav-item.active > a{
  background: #860000 !important;
}

.modal-xlModal{
  max-width: 97% !important;
}


.card-ver {
  /* height: 110px; */
  height: 80px;
  /* background: linear-gradient(0deg, rgba(221,70,172,0.7231092266007966) 0%, rgba(85,111,214,0.5970588064327293) 33%); */
}

.card-ver .card-body {
  display: flex;
  flex-direction: row;
  /* color: var(--main-text-color); */
  color: #f2f2f2;
}

.card-ver .title {
  font-weight: 700;
}

.card-ver .img {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-ver img {
  display: block;
  max-width: 100%;
  height: 50px  !important;
}

.card-ver .text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 0 6px;
  margin-left: 20px;
  margin-top: -10px;
}

.card-ver .value {
  font-size: 2vw;
}

.detail_card_dashboard{
  text-decoration: underline;
}

.card-ver .card-body{
  flex: 1 1 auto !important;
  padding: 0.5rem !important;
}

.margin-top-card-custom  {
  margin-top: -20px !important;
}

.margin-left-card-custom  {
  margin-left: -3px !important;
}

.card-ver3 {
  width: 210px !important;
}


.counting {
  transition: all 0.5s ease; /* Smooth transition for text and style */
}

/* Add transition effects when changing value */
.changing {
  opacity: 0; /* Fade out */
}

.changed {
  color: rgb(42, 12, 12); /* Change color when value changes */
  opacity: 1; /* Fade in */
}

.progress {
  border-radius: 0px !important;
  transition: width 0.4s ease; /* Smooth transition for the width */
}
.progress .progress-bar {
  border-radius: 0px !important;
}
#excel_file {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}